<script type="text/javascript" >
    $(function() {
        $("#sortable").sortable({
            update: function(event, ui) {
                var result = $(this).sortable('serialize');
                $.ajax({
                    url: '<%= save_position_path %> ',
                    type: 'post',
                    dataType: 'json',
                    data: result
                });
            }          
            
        }).disableSelection();
    });
</script>


<table border="0" cellspacing="0" cellpadding="0" class="index_table" paginator="true">
    <thead>
        <tr>
            <th class="name">Hash tag</th>
            <th class="name">Created at</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="sortable">
        <% ClientHash.find(:all,:order => "position").each do |ch|   %>
            <tr id="hash_<%= ch.id %>">
                <td>
                    <%= ch.text %>
                </td>
                <td>
                    <%= ch.created_at %>
                </td>
                <td>
                    <a class="member_link view_link left" href="<%= admin_client_hash_path(ch.id) %>">View</a>
                    <a class="member_link view_link left" href="<%= edit_admin_client_hash_path(ch.id) %>" >Edit</a>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
