<div>

    <%= form_tag(submit_comment_path,:id => 'submit_comment_form') do %>
        <%= text_field_tag "text" %>
        <%= hidden_field_tag 'hash_id', @hash.id %>
        <%= submit_tag "Tweet", :id => "submit_comment" %>
    <% end %>
</div>
<div id="counter">
    <%= @hash.counter %>
</div>